<%- include("partials/header.ejs") -%>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="fw-bold fs-4">404</h1>
            <p class="error"> <span class="text-danger ">Opps!</span> Page not found.</p>
            <p class="lead ">
                The page you’re looking for doesn’t exist.
                </p>
        </div>
    </div>
<%- include("partials/footer.ejs") -%>

